CPUSim5.json
[{"id":"a91281b0.02432","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"88684dc7.8c004","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2030,"y":1720,"wires":[["3c4638e4.09c4a8"]]},{"id":"3306b625.c5ceea","type":"function","z":"a91281b0.02432","name":"ALU","func":"\n\nif (msg.payload.a == \"add\")\n{\n    newMsg = {payload: msg.payload.b + msg.payload.c}\n}\n\nelse if (msg.payload.a == \"sub\")\n{\n    newMsg = {payload: msg.payload.b - msg.payload.c}\n}\n\nelse if (msg.payload.a == \"mul\")\n{\n    newMsg = {payload: msg.payload.b * msg.payload.c}\n}\n\nelse if (msg.payload.a == \"div\")\n{\n    newMsg = {payload: msg.payload.b / msg.payload.c}\n}\n\nelse if (msg.payload.a == \"ld\")\n{\n    newMsg = {payload: msg.payload.b}\n}\n\nelse if (msg.payload.a == \"str\")\n{\n    newMsg = {payload: msg.payload.c}\n}\n\n//Sends value to move to register\nelse if (msg.payload.a == \"mov\")\n{\n    newMsg = {payload: msg.payload.b}\n}\n\nreturn newMsg","outputs":1,"noerr":0,"x":2870,"y":1720,"wires":[["f5b50307.a1be2"]]},{"id":"b6ad381b.d08f48","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"EXE/MEM","x":3270,"y":1720,"wires":[["4e2b7eef.843a8","89e667b.db36698","518813de.574c3c","482a1298.f7d7bc","c9062501.bcd8c8","3b4bcbb4.a1f274"]]},{"id":"c9b72e98.700d8","type":"function","z":"a91281b0.02432","name":"MUXY","func":"if (msg.payload == \"mem\")\n{\n    return [{payload: \"true\"}, {payload: \"false\"}]\n}\nelse\n{\n    return [{payload: \"false\"}, {payload: \"true\"}]\n}\n\n\n\n","outputs":2,"noerr":0,"x":3570,"y":1820,"wires":[["cf21d6ba.f6c9c8"],["89e667b.db36698"]]},{"id":"9e76ffc3.3b36f","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"ID/EXE","x":2400,"y":1720,"wires":[["3b9661fe.41c0ee","6fdee2f6.dcaa4c","5121ca7.d0d1134","f66c81a1.16389","4d989b82.c9fe84","93cd64b2.8b55c8"]]},{"id":"5b5b6a5.e2e2b94","type":"function","z":"a91281b0.02432","name":"WriteDecoder","func":"\n\nnewMsg = {payload: \"w\"}\nrMsg = {payload: \"r\"}\n\nif (msg.payload.a == \"w\")\n{\n    if (msg.payload.b == 0)\n    {\n        return [newMsg, rMsg, rMsg];\n    }\n    else if (msg.payload.b == 1)\n    {\n        return [rMsg, newMsg, rMsg];\n    }\n    else if (msg.payload.b == 2)\n    {\n        return [rMsg, rMsg, newMsg];\n    }\n}\n\nreturn [rMsg, rMsg, rMsg];","outputs":3,"noerr":0,"x":3760,"y":1440,"wires":[["eff93ae3.365918"],["23238838.2d4eb8"],["404ae5a0.4e493c"]]},{"id":"a9ac923.a90077","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3610,"y":1440,"wires":[["5b5b6a5.e2e2b94"]]},{"id":"3211647b.4a276c","type":"file","z":"a91281b0.02432","name":"mem1w","filename":"NRfiles\\add1.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":4300,"y":1300,"wires":[[]]},{"id":"23238838.2d4eb8","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4010,"y":1300,"wires":[["c92b07b0.6a9bc8"]]},{"id":"c92b07b0.6a9bc8","type":"function","z":"a91281b0.02432","name":"add1Write","func":"\n//Send WriteData through on write sig\nif (msg.payload[0] == \"w\" && msg.payload[1] != \"w\")\n{\n    return {payload: msg.payload[1]}\n}\n\nif (msg.payload[1] == \"w\" && msg.payload[0] != \"w\")\n{\n    return {payload: msg.payload[0]}\n}\n\n","outputs":1,"noerr":0,"x":4150,"y":1300,"wires":[["3211647b.4a276c"]]},{"id":"c6176c58.79166","type":"function","z":"a91281b0.02432","name":"add0Write","func":"\n//Send WriteData through on write sig\nif (msg.payload[0] == \"w\" && msg.payload[1] != \"w\")\n{\n    return {payload: msg.payload[1]}\n}\n\nif (msg.payload[1] == \"w\" && msg.payload[0] != \"w\")\n{\n    return {payload: msg.payload[0]}\n}\n","outputs":1,"noerr":0,"x":4150,"y":1240,"wires":[["53fa19b0.87ea58"]]},{"id":"53fa19b0.87ea58","type":"file","z":"a91281b0.02432","name":"mem0w","filename":"NRfiles\\add0.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":4300,"y":1240,"wires":[[]]},{"id":"eff93ae3.365918","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4010,"y":1240,"wires":[["c6176c58.79166"]]},{"id":"f6855c95.15be6","type":"file","z":"a91281b0.02432","name":"mem2w","filename":"NRfiles\\add2.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":4300,"y":1360,"wires":[[]]},{"id":"7908b4c1.70b3ac","type":"function","z":"a91281b0.02432","name":"add2Write","func":"\n//Send WriteData through on write sig\nif (msg.payload[0] == \"w\" && msg.payload[1] != \"w\")\n{\n    return {payload: msg.payload[1]}\n}\n\nif (msg.payload[1] == \"w\" && msg.payload[0] != \"w\")\n{\n    return {payload: msg.payload[0]}\n}\n","outputs":1,"noerr":0,"x":4150,"y":1360,"wires":[["f6855c95.15be6"]]},{"id":"404ae5a0.4e493c","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4010,"y":1360,"wires":[["7908b4c1.70b3ac"]]},{"id":"4e2b7eef.843a8","type":"function","z":"a91281b0.02432","name":"ReadDecoder","func":"newMsg = {payload: \"r\"}\n\nif (msg.payload == 0)\n{\n   return [newMsg, [], []];\n}\nelse if (msg.payload == 1)\n{\n    return [[], newMsg, []];\n}\nelse if (msg.payload == 2)\n{\n    return [[], [], newMsg];\n}\n\n//Always reads something this way\n//Output will not be enabled if not a ld instruction\nreturn [newMsg, [], []];","outputs":3,"noerr":0,"x":3760,"y":1500,"wires":[["3bfde1c.b8c4b1e"],["ef1dc345.236d3"],["50fb9979.62e8f8"]]},{"id":"3bfde1c.b8c4b1e","type":"file in","z":"a91281b0.02432","name":"mem0r","filename":"NRfiles\\add0.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":4040,"y":1440,"wires":[["8e08462e.20c2c8"]]},{"id":"ef1dc345.236d3","type":"file in","z":"a91281b0.02432","name":"mem1r","filename":"NRfiles\\add1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":4040,"y":1480,"wires":[["c0f3b36b.496a1"]]},{"id":"50fb9979.62e8f8","type":"file in","z":"a91281b0.02432","name":"mem2r","filename":"NRfiles\\add2.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":4040,"y":1520,"wires":[["a4cfadd4.c43"]]},{"id":"d90f765.e054788","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","name":"MEM/WB","x":4340,"y":1720,"wires":[["a56c8334.ff8dc","228d3529.5ac66a","813f800e.3bac1","94a0bb09.db8cd8","fc9c5648.968358","9e1fa05f.e6126","13bcc009.290ee"]]},{"id":"546a7412.adfefc","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"IF/ID","x":1190,"y":1820,"wires":[["21eeb56c.e651aa","ce2a0800.c93398"]]},{"id":"a440b3.bd3a0f5","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"EXE/MEM","x":3270,"y":1440,"wires":[["e1004f68.deac7"]]},{"id":"5523ca4.32f2834","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"EXE/MEM","x":3270,"y":1240,"wires":[["eff93ae3.365918","23238838.2d4eb8","404ae5a0.4e493c"]]},{"id":"63a18ecd.4c3eb","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"ID/EXE","x":2400,"y":1440,"wires":[["81462e80.93a77"]]},{"id":"fb7ee13b.1f418","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"EXE/MEM","x":3270,"y":1820,"wires":[["c9b72e98.700d8","1aa4a2c3.af4bed"]]},{"id":"8e08462e.20c2c8","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":4170,"y":1440,"wires":[["cf21d6ba.f6c9c8","7b0fab9.550d354"]]},{"id":"c0f3b36b.496a1","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":4170,"y":1480,"wires":[["cf21d6ba.f6c9c8","7b0fab9.550d354"]]},{"id":"a4cfadd4.c43","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":4170,"y":1520,"wires":[["cf21d6ba.f6c9c8","7b0fab9.550d354"]]},{"id":"688d2a19.f97ff4","type":"function","z":"a91281b0.02432","name":"ALUenable","func":"if (msg.payload[0] == \"true\")\n{\n   return {payload: msg.payload[1]};\n}\nelse if (msg.payload[1] == \"true\")\n{\n    return {payload: msg.payload[0]};\n}","outputs":1,"noerr":0,"x":3890,"y":1740,"wires":[["2bfc9d72.bb3222"]]},{"id":"face406d.1e74f","type":"function","z":"a91281b0.02432","name":"MEMenable","func":"if (msg.payload[0] == \"true\")\n{\n   return {payload: msg.payload[1]};\n}\nelse if (msg.payload[1] == \"true\")\n{\n    return {payload: msg.payload[0]};\n}\n","outputs":1,"noerr":0,"x":3890,"y":1700,"wires":[["2bfc9d72.bb3222"]]},{"id":"cf21d6ba.f6c9c8","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3710,"y":1700,"wires":[["face406d.1e74f"]]},{"id":"89e667b.db36698","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3710,"y":1740,"wires":[["688d2a19.f97ff4"]]},{"id":"4fb60710.c3f208","type":"file","z":"a91281b0.02432","name":"R1write","filename":"NRfiles\\R1.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":4900,"y":1800,"wires":[[]]},{"id":"d5430725.014888","type":"file","z":"a91281b0.02432","name":"R2write","filename":"NRfiles\\R2.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":4900,"y":1840,"wires":[[]]},{"id":"d142a297.9e9d3","type":"file","z":"a91281b0.02432","name":"R3write","filename":"NRfiles\\R3.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":4900,"y":1880,"wires":[[]]},{"id":"1b76f83f.d34878","type":"function","z":"a91281b0.02432","name":"WriteDecoder","func":"if (msg.payload == 1)\n{\n    return [{payload: \"true\"}, {payload: \"false\"}, {payload: \"false\"}]\n}\nelse if (msg.payload == 2)\n{\n    return [{payload: \"false\"}, {payload: \"true\"}, {payload: \"false\"}]\n}\nelse if (msg.payload == 3)\n{\n    return [{payload: \"false\"}, {payload: \"false\"}, {payload: \"true\"}]\n}\nelse\n{\n    return [{payload: \"false\"}, {payload: \"false\"}, {payload: \"false\"}]\n}","outputs":3,"noerr":0,"x":4360,"y":1840,"wires":[["a56c8334.ff8dc"],["228d3529.5ac66a"],["813f800e.3bac1"]]},{"id":"11dffdb8.c5a402","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"ID/EXE","x":2400,"y":2000,"wires":[["ada7b005.21486"]]},{"id":"594614a8.84e2dc","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"EXE/MEM","x":3250,"y":2000,"wires":[["7905ce8d.53de6","4919be32.00b2","b11330d3.40fde"]]},{"id":"ce28cb0d.93e3b8","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","name":"MEM/WB","x":4340,"y":2000,"wires":[["1b76f83f.d34878","4dc012a2.5ac88c","c6710d23.37dbd","cb71b191.af2df","28c26c22.9e8f24"]]},{"id":"e3e094e9.3820e8","type":"function","z":"a91281b0.02432","name":"Enable1","func":"if (msg.payload[0] == \"true\")\n{\n   return {payload: msg.payload[1]};\n}\nelse if (msg.payload[1] == \"true\")\n{\n    return {payload: msg.payload[0]};\n}\n","outputs":1,"noerr":0,"x":4760,"y":1800,"wires":[["4fb60710.c3f208"]]},{"id":"ab00130d.e5b45","type":"function","z":"a91281b0.02432","name":"Enable2","func":"if (msg.payload[0] == \"true\")\n{\n   return {payload: msg.payload[1]};\n}\nelse if (msg.payload[1] == \"true\")\n{\n    return {payload: msg.payload[0]};\n}\n","outputs":1,"noerr":0,"x":4760,"y":1840,"wires":[["d5430725.014888"]]},{"id":"1db3d4ab.893a4b","type":"function","z":"a91281b0.02432","name":"Enable3","func":"if (msg.payload[0] == \"true\")\n{\n   return {payload: msg.payload[1]};\n}\nelse if (msg.payload[1] == \"true\")\n{\n    return {payload: msg.payload[0]};\n}\n","outputs":1,"noerr":0,"x":4760,"y":1880,"wires":[["d142a297.9e9d3"]]},{"id":"228d3529.5ac66a","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4630,"y":1840,"wires":[["ab00130d.e5b45"]]},{"id":"a56c8334.ff8dc","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4630,"y":1800,"wires":[["e3e094e9.3820e8"]]},{"id":"813f800e.3bac1","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4630,"y":1880,"wires":[["1db3d4ab.893a4b"]]},{"id":"d3b9a5f0.01b008","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":2250,"y":1440,"wires":[["63a18ecd.4c3eb"]]},{"id":"7d68dc60.6038b4","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":3130,"y":1240,"wires":[["5523ca4.32f2834"]]},{"id":"fad6a0a8.14463","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3010,"y":1240,"wires":[["7d68dc60.6038b4"]]},{"id":"9bda3039.2c442","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2130,"y":1440,"wires":[["d3b9a5f0.01b008"]]},{"id":"d63f2b6e.90d788","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":2270,"y":1720,"wires":[["9e76ffc3.3b36f","f34e0e3d.4b40c","3afa4dd3.7c8e82","413a2aaa.ba7d44"]]},{"id":"3c4638e4.09c4a8","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2150,"y":1720,"wires":[["d63f2b6e.90d788"]]},{"id":"fd0a002e.e9c32","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":3130,"y":1440,"wires":[["a440b3.bd3a0f5"]]},{"id":"81462e80.93a77","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3010,"y":1440,"wires":[["fd0a002e.e9c32"]]},{"id":"f738af16.f246c","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":3130,"y":1720,"wires":[["b6ad381b.d08f48","c4062e57.73924"]]},{"id":"f5b50307.a1be2","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3010,"y":1720,"wires":[["f738af16.f246c"]]},{"id":"c9f49197.28856","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":3130,"y":1820,"wires":[["fb7ee13b.1f418"]]},{"id":"a8eb7b29.ad03d8","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3010,"y":1820,"wires":[["c9f49197.28856"]]},{"id":"3be438b6.bbe118","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":4210,"y":1720,"wires":[["d90f765.e054788"]]},{"id":"2bfc9d72.bb3222","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4090,"y":1720,"wires":[["3be438b6.bbe118"]]},{"id":"94a0bb09.db8cd8","type":"debug","z":"a91281b0.02432","name":"MEM/WB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4530,"y":1720,"wires":[]},{"id":"518813de.574c3c","type":"debug","z":"a91281b0.02432","name":"EXE/MEM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3750,"y":1960,"wires":[]},{"id":"3b9661fe.41c0ee","type":"debug","z":"a91281b0.02432","name":"ID/EXE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2620,"y":1540,"wires":[]},{"id":"4f5c2de.d2162d4","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":4210,"y":2000,"wires":[["ce28cb0d.93e3b8"]]},{"id":"7905ce8d.53de6","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4090,"y":2000,"wires":[["4f5c2de.d2162d4"]]},{"id":"d6c55156.94027","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":3110,"y":2000,"wires":[["594614a8.84e2dc"]]},{"id":"ada7b005.21486","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2990,"y":2000,"wires":[["d6c55156.94027"]]},{"id":"fe42430a.42fd4","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":2270,"y":2000,"wires":[["11dffdb8.c5a402"]]},{"id":"98508597.d26e18","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2150,"y":2000,"wires":[["fe42430a.42fd4"]]},{"id":"e5d4c907.a6a498","type":"file in","z":"a91281b0.02432","name":"R1read","filename":"NRfiles\\R1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":1400,"wires":[["142913c4.4f056c"]]},{"id":"5dd91241.5ce73c","type":"file in","z":"a91281b0.02432","name":"R2read","filename":"NRfiles\\R2.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":1440,"wires":[["24a0cb32.6c34f4"]]},{"id":"a841ec20.f094f","type":"file in","z":"a91281b0.02432","name":"R3read","filename":"NRfiles\\R3.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":1480,"wires":[["e86e8bb1.e62788"]]},{"id":"142913c4.4f056c","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1720,"y":1400,"wires":[["d53c50fd.375a3","939c6636.65a328"]]},{"id":"24a0cb32.6c34f4","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1720,"y":1440,"wires":[["d53c50fd.375a3","939c6636.65a328"]]},{"id":"e86e8bb1.e62788","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1720,"y":1480,"wires":[["d53c50fd.375a3","939c6636.65a328"]]},{"id":"e056866a.e2b638","type":"function","z":"a91281b0.02432","name":"Reg1Decoder","func":"newMsg = {payload: \"r\"}\n\nif (msg.payload == 1)\n{\n   return [newMsg, [], []];\n}\nelse if (msg.payload == 2)\n{\n    return [[], newMsg, []];\n}\nelse if (msg.payload == 3)\n{\n    return [[], [], newMsg];\n}\n\n","outputs":3,"noerr":0,"x":1160,"y":1460,"wires":[["7f8a94db.0c959c"],["fbc424b1.550478"],["dce68596.62d888"]]},{"id":"d319bde0.ec55b","type":"file in","z":"a91281b0.02432","name":"R1read","filename":"NRfiles\\R1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":1520,"wires":[["fea1a86f.b1ec28"]]},{"id":"29ace236.9dd36e","type":"file in","z":"a91281b0.02432","name":"R2read","filename":"NRfiles\\R2.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":1560,"wires":[["cdb061a7.bbad9"]]},{"id":"e0d56834.dfbff8","type":"file in","z":"a91281b0.02432","name":"R3read","filename":"NRfiles\\R3.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":1600,"wires":[["6ea828bc.054968"]]},{"id":"fea1a86f.b1ec28","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1720,"y":1520,"wires":[["bfce2b3e.0d7d78"]]},{"id":"cdb061a7.bbad9","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1720,"y":1560,"wires":[["bfce2b3e.0d7d78"]]},{"id":"6ea828bc.054968","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1720,"y":1600,"wires":[["bfce2b3e.0d7d78"]]},{"id":"1e61697b.d48277","type":"function","z":"a91281b0.02432","name":"Reg2Decoder","func":"newMsg = {payload: \"r\"}\n\nif (msg.payload == 1)\n{\n   return [newMsg, [], []];\n}\nelse if (msg.payload == 2)\n{\n    return [[], newMsg, []];\n}\nelse if (msg.payload == 3)\n{\n    return [[], [], newMsg];\n}\n\n","outputs":3,"noerr":0,"x":1160,"y":1580,"wires":[["9855de38.9e02b"],["23e39eeb.e5b172"],["ce32a15b.78a1d"]]},{"id":"fe37b51d.ff61b8","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"ID/EXE","x":2400,"y":1240,"wires":[["4a53a928.194d48"]]},{"id":"558dfb6c.612034","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":2250,"y":1240,"wires":[["fe37b51d.ff61b8"]]},{"id":"d53c50fd.375a3","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2130,"y":1240,"wires":[["558dfb6c.612034"]]},{"id":"3f5ec380.9ef23c","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"ID/EXE","x":2400,"y":1820,"wires":[["a8eb7b29.ad03d8"]]},{"id":"ee9af20a.018e7","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":2270,"y":1820,"wires":[["3f5ec380.9ef23c"]]},{"id":"caa75036.fb6be","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2150,"y":1820,"wires":[["ee9af20a.018e7"]]},{"id":"face9.5380d3178","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":1070,"y":1820,"wires":[["546a7412.adfefc","1cd39b99.dff2a4"]]},{"id":"97e57267.c83e4","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":1820,"wires":[["face9.5380d3178"]]},{"id":"21eeb56c.e651aa","type":"function","z":"a91281b0.02432","name":"Control","func":"/*\nSignals:\noperation\nread/write\nwriteback register\nregister 1\nregister 2\nalu/mem writeback\nimmediate\nstore\n*/\n\nif (msg.payload !== undefined)\n{\n    //Parse Instruction and send control signals\n    instr = msg.payload\n    instr = instr.split(\" \")\n    \n    //Operation signal\n    op = instr[0]\n    \n    //r/w signal\n    if (op == \"str\")\n    {\n        rw = \"w\"\n    }\n    else\n    {\n        rw = 'r'\n    }\n        \n    \n    instr2 = instr[1].split(\",\")\n    \n    //WB reg\n    wbreg = instr2[0]\n    \n    //reg 1 or immediate\n    if (op == \"mov\" || op == \"ld\")\n    {\n        reg1 = \"4\"\n        immed = {payload: instr2[1]}\n    }\n    else\n    {\n        reg1 = instr2[1]\n        immed = []\n    }\n    \n    //reg 2 or str val\n    if (op == \"str\" || op == \"ld\" || op == \"mov\")\n    {\n        reg2 = \"4\"\n        straddr = {payload: instr2[0]}\n    }\n    else\n    {\n        reg2 = instr2[2]\n        straddr = []\n    }\n    \n    //alu/mem signal\n    if (op == \"ld\" || op == \"str\")\n    {\n        alumem = \"mem\"\n        \n        //Don't write back on str\n        if (op == \"str\")\n            wbreg = \"4\"\n    }\n    else\n    {\n        alumem = \"alu\"\n    }\n    \n        \n    return [{payload: op}, {payload: rw}, {payload: wbreg}, {payload: reg1}, {payload: reg2}, {payload: alumem}, immed, straddr]\n}\n\n\n\n\n\n","outputs":8,"noerr":0,"x":1360,"y":1820,"wires":[["c973e7ca.7a0598"],["9bda3039.2c442"],["cd99baf7.56b428"],["9513ecf3.3416d","8a1ded0f.34d1d"],["df9a6d0e.40946","601f5e1e.419bb"],["caa75036.fb6be"],["861870f6.6d3e3"],["bb894e3e.19bfc"]]},{"id":"cd99baf7.56b428","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":2030,"y":2000,"wires":[["98508597.d26e18"]]},{"id":"9513ecf3.3416d","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1010,"y":1460,"wires":[["e056866a.e2b638"]]},{"id":"df9a6d0e.40946","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1010,"y":1580,"wires":[["1e61697b.d48277"]]},{"id":"237bc8d4.c15ce8","type":"function","z":"a91281b0.02432","name":"Fetch","func":"\ninstr = msg.payload.a.split(\"\\n\")\nPC = msg.payload.b\n\nif (PC < instr.length)\n{\n    if(instr[PC].includes(\"nop\")) \n    {\n        return [{payload: \"mov 4,1\"}, {payload: PC+1}]\n    }\n    \n    return [{payload: instr[PC]}, {payload: PC+1}]\n}\n\n\n","outputs":2,"noerr":0,"x":830,"y":1820,"wires":[["97e57267.c83e4"],["7e02e274.48422c"]]},{"id":"861870f6.6d3e3","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1730,"y":1640,"wires":[["d53c50fd.375a3","939c6636.65a328"]]},{"id":"bb894e3e.19bfc","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1730,"y":1680,"wires":[["bfce2b3e.0d7d78"]]},{"id":"ee378da7.5f238","type":"file in","z":"a91281b0.02432","name":"ProgramMemIn","filename":"NRfiles\\testProgram.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":1680,"wires":[["941cb61c.f7b8e8"]]},{"id":"7d870e50.f6474","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"FetchNext","x":310,"y":1900,"wires":[["acdbf7d1.d2d9b8"]]},{"id":"3a66ed54.71e7d2","type":"inject","z":"a91281b0.02432","name":"PC","topic":"","payload":"0","payloadType":"num","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1900,"wires":[["7d870e50.f6474"]]},{"id":"7e02e274.48422c","type":"file","z":"a91281b0.02432","name":"PCwrite","filename":"NRfiles/PC.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":820,"y":1940,"wires":[[]]},{"id":"acdbf7d1.d2d9b8","type":"file in","z":"a91281b0.02432","name":"PCread","filename":"NRfiles/PC.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":1900,"wires":[["51d0e069.bd57d"]]},{"id":"52080302.50f7bc","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":1820,"wires":[["237bc8d4.c15ce8"]]},{"id":"375f4593.e23d2a","type":"inject","z":"a91281b0.02432","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.01","x":690,"y":1940,"wires":[["7e02e274.48422c"]]},{"id":"51d0e069.bd57d","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":590,"y":1900,"wires":[["cc164de5.18a5f"]]},{"id":"305dfaae.747a06","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"FetchNext","x":350,"y":1680,"wires":[["ee378da7.5f238"]]},{"id":"2598ee89.05f012","type":"inject","z":"a91281b0.02432","name":"","topic":"","payload":"PC","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":1680,"wires":[["305dfaae.747a06"]]},{"id":"ce2a0800.c93398","type":"debug","z":"a91281b0.02432","name":"IF/ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":1680,"wires":[]},{"id":"dce68596.62d888","type":"delay","z":"a91281b0.02432","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1430,"y":1480,"wires":[["a841ec20.f094f"]]},{"id":"7f8a94db.0c959c","type":"delay","z":"a91281b0.02432","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1430,"y":1400,"wires":[["e5d4c907.a6a498"]]},{"id":"fbc424b1.550478","type":"delay","z":"a91281b0.02432","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1430,"y":1440,"wires":[["5dd91241.5ce73c"]]},{"id":"9855de38.9e02b","type":"delay","z":"a91281b0.02432","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1430,"y":1520,"wires":[["d319bde0.ec55b"]]},{"id":"ce32a15b.78a1d","type":"delay","z":"a91281b0.02432","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1430,"y":1600,"wires":[["e0d56834.dfbff8"]]},{"id":"23e39eeb.e5b172","type":"delay","z":"a91281b0.02432","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1430,"y":1560,"wires":[["29ace236.9dd36e"]]},{"id":"f34e0e3d.4b40c","type":"ui_text","z":"a91281b0.02432","group":"9797d341.00052","order":0,"width":0,"height":0,"name":"","label":"Operation:","format":"{{msg.payload.a}} ","layout":"col-center","x":2470,"y":1540,"wires":[]},{"id":"1cd39b99.dff2a4","type":"ui_text","z":"a91281b0.02432","group":"6e59639.369a89c","order":0,"width":0,"height":0,"name":"","label":"Fetched Instruction:","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":1920,"wires":[]},{"id":"c4062e57.73924","type":"ui_text","z":"a91281b0.02432","group":"83f18f43.ea75a","order":0,"width":0,"height":0,"name":"","label":"ALU Output:","format":"{{msg.payload}}","layout":"row-spread","x":3270,"y":1640,"wires":[]},{"id":"fc9c5648.968358","type":"ui_text","z":"a91281b0.02432","group":"6eededd8.847e14","order":0,"width":0,"height":0,"name":"","label":"Write Back Value:","format":"{{msg.payload}}","layout":"row-spread","x":4570,"y":1660,"wires":[]},{"id":"2f3db630.2066ca","type":"ui_button","z":"a91281b0.02432","name":"Clock Pulse (UI)","group":"c1cd21b6.7d73e","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":1620,"y":2160,"wires":[["546a7412.adfefc","fe37b51d.ff61b8","63a18ecd.4c3eb","9e76ffc3.3b36f","3f5ec380.9ef23c","11dffdb8.c5a402","5523ca4.32f2834","b6ad381b.d08f48","fb7ee13b.1f418","594614a8.84e2dc","d90f765.e054788","ce28cb0d.93e3b8","305dfaae.747a06","edd9a802.e340b8","a440b3.bd3a0f5","7d870e50.f6474","7dd194ba.68d14c"]]},{"id":"3afa4dd3.7c8e82","type":"ui_text","z":"a91281b0.02432","group":"9797d341.00052","order":0,"width":0,"height":0,"name":"","label":"Val 1:","format":"{{msg.payload.b}} ","layout":"col-center","x":2450,"y":1580,"wires":[]},{"id":"413a2aaa.ba7d44","type":"ui_text","z":"a91281b0.02432","group":"9797d341.00052","order":0,"width":0,"height":0,"name":"","label":"Val 2:","format":"{{msg.payload.c}} ","layout":"col-center","x":2450,"y":1620,"wires":[]},{"id":"1aa4a2c3.af4bed","type":"ui_text","z":"a91281b0.02432","group":"be842021.a1084","order":0,"width":0,"height":0,"name":"","label":"Output Enable:","format":"{{msg.payload}}","layout":"row-spread","x":3560,"y":1860,"wires":[]},{"id":"7b0fab9.550d354","type":"ui_text","z":"a91281b0.02432","group":"be842021.a1084","order":0,"width":0,"height":0,"name":"","label":"MEM Output:","format":"{{msg.payload}}","layout":"row-spread","x":4410,"y":1480,"wires":[]},{"id":"4dc012a2.5ac88c","type":"ui_text","z":"a91281b0.02432","group":"6eededd8.847e14","order":0,"width":0,"height":0,"name":"","label":"Write Back Register (4 = No WB):","format":"{{msg.payload}}","layout":"row-spread","x":4640,"y":2000,"wires":[]},{"id":"799895.1231a76c","type":"ui_text","z":"a91281b0.02432","group":"6e59639.369a89c","order":0,"width":0,"height":0,"name":"","label":"Program Counter:","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":2040,"wires":[]},{"id":"6502f452.11ae7c","type":"ui_text","z":"a91281b0.02432","group":"24beebe9.9722d4","order":0,"width":0,"height":0,"name":"","label":"1:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":1120,"wires":[]},{"id":"aea15598.057688","type":"ui_text","z":"a91281b0.02432","group":"24beebe9.9722d4","order":0,"width":0,"height":0,"name":"","label":"2:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":1160,"wires":[]},{"id":"ba9cf2e2.c3d0c","type":"ui_text","z":"a91281b0.02432","group":"24beebe9.9722d4","order":0,"width":0,"height":0,"name":"","label":"3:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":1200,"wires":[]},{"id":"bbdf9f60.08849","type":"file in","z":"a91281b0.02432","name":"R1read","filename":"NRfiles\\R1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1400,"y":1120,"wires":[["2776f4d8.f4714c"]]},{"id":"50e8d6a4.068e48","type":"file in","z":"a91281b0.02432","name":"R2read","filename":"NRfiles\\R2.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1400,"y":1160,"wires":[["4987eceb.7c6364"]]},{"id":"1b93f3e2.2e0b2c","type":"file in","z":"a91281b0.02432","name":"R3read","filename":"NRfiles\\R3.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1400,"y":1200,"wires":[["cd904546.f543e8"]]},{"id":"2776f4d8.f4714c","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1540,"y":1120,"wires":[["6502f452.11ae7c"]]},{"id":"4987eceb.7c6364","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1540,"y":1160,"wires":[["aea15598.057688"]]},{"id":"cd904546.f543e8","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":1540,"y":1200,"wires":[["ba9cf2e2.c3d0c"]]},{"id":"60758c9c.22d804","type":"inject","z":"a91281b0.02432","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":1070,"y":1160,"wires":[["bbdf9f60.08849","50e8d6a4.068e48","1b93f3e2.2e0b2c"]]},{"id":"19ec21a.d0bc0de","type":"ui_text","z":"a91281b0.02432","group":"afdd1fb8.de58a","order":0,"width":0,"height":0,"name":"","label":"Addr 0:","format":"{{msg.payload}}","layout":"row-spread","x":3740,"y":1040,"wires":[]},{"id":"5b03f076.76181","type":"file in","z":"a91281b0.02432","name":"mem0r","filename":"NRfiles\\add0.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3470,"y":1040,"wires":[["305e0f0.c8395f2"]]},{"id":"fb458f43.b5db5","type":"file in","z":"a91281b0.02432","name":"mem1r","filename":"NRfiles\\add1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3470,"y":1080,"wires":[["875b9218.70a25"]]},{"id":"8fa5ca60.382518","type":"file in","z":"a91281b0.02432","name":"mem2r","filename":"NRfiles\\add2.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3470,"y":1120,"wires":[["aba05e60.513cf"]]},{"id":"305e0f0.c8395f2","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":3600,"y":1040,"wires":[["19ec21a.d0bc0de"]]},{"id":"875b9218.70a25","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":3600,"y":1080,"wires":[["845464a.74f3598"]]},{"id":"aba05e60.513cf","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":3600,"y":1120,"wires":[["8d5eaa5d.ea68c8"]]},{"id":"845464a.74f3598","type":"ui_text","z":"a91281b0.02432","group":"afdd1fb8.de58a","order":0,"width":0,"height":0,"name":"","label":"Addr 1:","format":"{{msg.payload}}","layout":"row-spread","x":3740,"y":1080,"wires":[]},{"id":"8d5eaa5d.ea68c8","type":"ui_text","z":"a91281b0.02432","group":"afdd1fb8.de58a","order":0,"width":0,"height":0,"name":"","label":"Addr 2:","format":"{{msg.payload}}","layout":"row-spread","x":3740,"y":1120,"wires":[]},{"id":"da50aabe.bbb758","type":"inject","z":"a91281b0.02432","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":3290,"y":1080,"wires":[["5b03f076.76181","fb458f43.b5db5","8fa5ca60.382518"]]},{"id":"c6710d23.37dbd","type":"debug","z":"a91281b0.02432","name":"WB REG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4560,"y":1940,"wires":[]},{"id":"8ec40526.3c9528","type":"file in","z":"a91281b0.02432","name":"R1read","filename":"NRfiles\\PC.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":660,"y":2040,"wires":[["939f39b6.c08c58"]]},{"id":"939f39b6.c08c58","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":790,"y":2040,"wires":[["799895.1231a76c"]]},{"id":"7f2e6ac5.6b8344","type":"inject","z":"a91281b0.02432","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":510,"y":2040,"wires":[["8ec40526.3c9528"]]},{"id":"edd9a802.e340b8","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"ID/EXE","x":2400,"y":1900,"wires":[["629d27f5.5c8c98","8fec1f42.6a8da","d68256c5.6e63c8","d10743eb.67b83"]]},{"id":"f4000acd.fb0288","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":2270,"y":1900,"wires":[["edd9a802.e340b8"]]},{"id":"5979a481.e69b8c","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2150,"y":1900,"wires":[["f4000acd.fb0288"]]},{"id":"bdadfe21.ea5f8","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2030,"y":1900,"wires":[["5979a481.e69b8c"]]},{"id":"3c776e90.a7be02","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2610,"y":1720,"wires":[["e870951f.e2fb28"]]},{"id":"e870951f.e2fb28","type":"function","z":"a91281b0.02432","name":"InputMux","func":"\nnewmessage = msg.payload.a\n\n\nif (msg.payload.a.a != \"str\" && msg.payload.f == \"EN\")\n{\n    if (msg.payload.b != \"NOFWD\")\n    {\n        newmessage.b = msg.payload.b\n    }\n    else if (msg.payload.d != \"NOFWD\")\n    {\n        newmessage.b = msg.payload.d\n    }\n        \n    if (msg.payload.c != \"NOFWD\")\n    {\n        newmessage.c = msg.payload.c\n    }\n    else if (msg.payload.e != \"NOFWD\")\n    {\n        newmessage.c = msg.payload.e\n    }\n}\n\n\n\nreturn {payload: newmessage}","outputs":1,"noerr":0,"x":2740,"y":1720,"wires":[["3306b625.c5ceea"]]},{"id":"d7b97354.55f3c","type":"inject","z":"a91281b0.02432","name":"","topic":"Init","payload":"4","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":3110,"y":1540,"wires":[["b6ad381b.d08f48"]]},{"id":"be003db5.e8cf1","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2750,"y":1240,"wires":[["57135218.756a7c"]]},{"id":"57135218.756a7c","type":"function","z":"a91281b0.02432","name":"InputMux","func":"\nif (msg.payload.b == \"NOFWD\" || msg.payload.c == \"DIS\")\n{\n    return {payload: msg.payload.a}\n}\n    \nreturn {payload: msg.payload.b}","outputs":1,"noerr":0,"x":2880,"y":1240,"wires":[["fad6a0a8.14463"]]},{"id":"d9a9b885.ddd888","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3830,"y":2220,"wires":[["e3e4b1b4.4846"]]},{"id":"e3e4b1b4.4846","type":"function","z":"a91281b0.02432","name":"MEM/WB Reg1 Forward","func":"\nif (msg.payload.a != \"mov\" && msg.payload.a != \"ld\")\n{\n     if (msg.payload.b == msg.payload.c)\n    {\n        return {payload: msg.payload.d}\n    }\n}\n\nreturn {payload: \"NOFWD\"}\n","outputs":1,"noerr":0,"x":4010,"y":2220,"wires":[["4ce470ee.f14fe"]]},{"id":"6fdee2f6.dcaa4c","type":"function","z":"a91281b0.02432","name":"Operation","func":"\nreturn {payload: msg.payload.a}","outputs":1,"noerr":0,"x":3540,"y":2160,"wires":[["ab589f2b.d85b5"]]},{"id":"629d27f5.5c8c98","type":"function","z":"a91281b0.02432","name":"Reg1","func":"\nreturn {payload: msg.payload.a}","outputs":1,"noerr":0,"x":3430,"y":2200,"wires":[["9cc13167.90fe3"]]},{"id":"9cc13167.90fe3","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":3550,"y":2200,"wires":[["7b22e7e8.654a88"]]},{"id":"129a563e.4f0a1a","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3830,"y":2380,"wires":[["7c7bee83.a67db"]]},{"id":"7c7bee83.a67db","type":"function","z":"a91281b0.02432","name":"MEM/WB Reg2 Forward","func":"\nif (msg.payload.a != \"mov\" && msg.payload.a != \"ld\")\n{\n     if (msg.payload.b == msg.payload.c)\n    {\n        return {payload: msg.payload.d}\n    }\n}\n\nreturn {payload: \"NOFWD\"}\n","outputs":1,"noerr":0,"x":4010,"y":2380,"wires":[["27e74871.536d18"]]},{"id":"5121ca7.d0d1134","type":"function","z":"a91281b0.02432","name":"Operation","func":"\nreturn {payload: msg.payload.a}","outputs":1,"noerr":0,"x":3540,"y":2320,"wires":[["7411ad7.7738b54"]]},{"id":"8fec1f42.6a8da","type":"function","z":"a91281b0.02432","name":"Reg2","func":"\nreturn {payload: msg.payload.b}","outputs":1,"noerr":0,"x":3430,"y":2360,"wires":[["10c9b27f.5a668e"]]},{"id":"10c9b27f.5a668e","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":3550,"y":2360,"wires":[["3f60c222.830bbe"]]},{"id":"ab589f2b.d85b5","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2160,"wires":[["d9a9b885.ddd888"]]},{"id":"7b22e7e8.654a88","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2200,"wires":[["d9a9b885.ddd888"]]},{"id":"cb71b191.af2df","type":"change","z":"a91281b0.02432","name":"c","rules":[{"t":"set","p":"topic","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2240,"wires":[["d9a9b885.ddd888"]]},{"id":"9e1fa05f.e6126","type":"change","z":"a91281b0.02432","name":"d","rules":[{"t":"set","p":"topic","pt":"msg","to":"d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2280,"wires":[["d9a9b885.ddd888"]]},{"id":"7411ad7.7738b54","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2320,"wires":[["129a563e.4f0a1a"]]},{"id":"3f60c222.830bbe","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2360,"wires":[["129a563e.4f0a1a"]]},{"id":"28c26c22.9e8f24","type":"change","z":"a91281b0.02432","name":"c","rules":[{"t":"set","p":"topic","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2400,"wires":[["129a563e.4f0a1a"]]},{"id":"13bcc009.290ee","type":"change","z":"a91281b0.02432","name":"d","rules":[{"t":"set","p":"topic","pt":"msg","to":"d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":2440,"wires":[["129a563e.4f0a1a"]]},{"id":"64a63e16.8de15","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2770,"y":2220,"wires":[["424cfe5e.ff3d3"]]},{"id":"424cfe5e.ff3d3","type":"function","z":"a91281b0.02432","name":"MEM/WB Reg1 Forward","func":"\nif (msg.payload.a != \"mov\" && msg.payload.a != \"ld\")\n{\n     if (msg.payload.b == msg.payload.c)\n    {\n        return {payload: msg.payload.d}\n    }\n}\n\nreturn {payload: \"NOFWD\"}\n","outputs":1,"noerr":0,"x":2950,"y":2220,"wires":[["68c5ea7f.57e6f4"]]},{"id":"f66c81a1.16389","type":"function","z":"a91281b0.02432","name":"Operation","func":"\nreturn {payload: msg.payload.a}","outputs":1,"noerr":0,"x":2480,"y":2160,"wires":[["1caedd50.0e28c3"]]},{"id":"d68256c5.6e63c8","type":"function","z":"a91281b0.02432","name":"Reg1","func":"\nreturn {payload: msg.payload.a}","outputs":1,"noerr":0,"x":2370,"y":2200,"wires":[["c2f525c4.74d098"]]},{"id":"c2f525c4.74d098","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":2490,"y":2200,"wires":[["4d13ae51.9a0b3"]]},{"id":"1caedd50.0e28c3","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2160,"wires":[["64a63e16.8de15"]]},{"id":"4d13ae51.9a0b3","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2200,"wires":[["64a63e16.8de15"]]},{"id":"4919be32.00b2","type":"change","z":"a91281b0.02432","name":"c","rules":[{"t":"set","p":"topic","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2240,"wires":[["64a63e16.8de15"]]},{"id":"482a1298.f7d7bc","type":"change","z":"a91281b0.02432","name":"d","rules":[{"t":"set","p":"topic","pt":"msg","to":"d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2280,"wires":[["64a63e16.8de15"]]},{"id":"e59083c9.60cf5","type":"join","z":"a91281b0.02432","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2770,"y":2380,"wires":[["6903958a.09a0dc"]]},{"id":"6903958a.09a0dc","type":"function","z":"a91281b0.02432","name":"MEM/WB Reg2 Forward","func":"\nif (msg.payload.a != \"mov\" && msg.payload.a != \"ld\")\n{\n     if (msg.payload.b == msg.payload.c)\n    {\n        return {payload: msg.payload.d}\n    }\n}\n\nreturn {payload: \"NOFWD\"}\n","outputs":1,"noerr":0,"x":2950,"y":2380,"wires":[["533e9d51.199d64"]]},{"id":"4d989b82.c9fe84","type":"function","z":"a91281b0.02432","name":"Operation","func":"\nreturn {payload: msg.payload.a}","outputs":1,"noerr":0,"x":2480,"y":2320,"wires":[["20bd8a34.69b9d6"]]},{"id":"d10743eb.67b83","type":"function","z":"a91281b0.02432","name":"Reg2","func":"\nreturn {payload: msg.payload.b}","outputs":1,"noerr":0,"x":2370,"y":2360,"wires":[["e87feee9.d872"]]},{"id":"e87feee9.d872","type":"function","z":"a91281b0.02432","name":"stoi","func":"\nreturn {payload: parseInt(msg.payload)};","outputs":1,"noerr":0,"x":2490,"y":2360,"wires":[["f8d7de60.32e5c"]]},{"id":"20bd8a34.69b9d6","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2320,"wires":[["e59083c9.60cf5"]]},{"id":"f8d7de60.32e5c","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2360,"wires":[["e59083c9.60cf5"]]},{"id":"b11330d3.40fde","type":"change","z":"a91281b0.02432","name":"c","rules":[{"t":"set","p":"topic","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2400,"wires":[["e59083c9.60cf5"]]},{"id":"c9062501.bcd8c8","type":"change","z":"a91281b0.02432","name":"d","rules":[{"t":"set","p":"topic","pt":"msg","to":"d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":2440,"wires":[["e59083c9.60cf5"]]},{"id":"93cd64b2.8b55c8","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2410,"y":1760,"wires":[["3c776e90.a7be02"]]},{"id":"68c5ea7f.57e6f4","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3270,"y":2220,"wires":[["3c776e90.a7be02","be003db5.e8cf1"]]},{"id":"533e9d51.199d64","type":"change","z":"a91281b0.02432","name":"c","rules":[{"t":"set","p":"topic","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3270,"y":2380,"wires":[["3c776e90.a7be02"]]},{"id":"4ce470ee.f14fe","type":"change","z":"a91281b0.02432","name":"d","rules":[{"t":"set","p":"topic","pt":"msg","to":"d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4330,"y":2220,"wires":[["3c776e90.a7be02"]]},{"id":"27e74871.536d18","type":"change","z":"a91281b0.02432","name":"e","rules":[{"t":"set","p":"topic","pt":"msg","to":"e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4330,"y":2380,"wires":[["3c776e90.a7be02"]]},{"id":"939c6636.65a328","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":1440,"wires":[["88684dc7.8c004"]]},{"id":"bfce2b3e.0d7d78","type":"change","z":"a91281b0.02432","name":"c","rules":[{"t":"set","p":"topic","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":1560,"wires":[["88684dc7.8c004"]]},{"id":"c973e7ca.7a0598","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":1720,"wires":[["88684dc7.8c004"]]},{"id":"601f5e1e.419bb","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":1900,"wires":[["bdadfe21.ea5f8"]]},{"id":"8a1ded0f.34d1d","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":1860,"wires":[["bdadfe21.ea5f8"]]},{"id":"4a53a928.194d48","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":1240,"wires":[["be003db5.e8cf1"]]},{"id":"941cb61c.f7b8e8","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1780,"wires":[["52080302.50f7bc"]]},{"id":"cc164de5.18a5f","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1860,"wires":[["52080302.50f7bc"]]},{"id":"e1004f68.deac7","type":"change","z":"a91281b0.02432","name":"a","rules":[{"t":"set","p":"topic","pt":"msg","to":"a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3430,"y":1440,"wires":[["a9ac923.a90077"]]},{"id":"3b4bcbb4.a1f274","type":"change","z":"a91281b0.02432","name":"b","rules":[{"t":"set","p":"topic","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3430,"y":1480,"wires":[["a9ac923.a90077"]]},{"id":"be4c6dc2.e729c","type":"ui_button","z":"a91281b0.02432","name":"Reset","group":"27c9552.a8f77aa","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":350,"y":1980,"wires":[["7e02e274.48422c"]]},{"id":"decbf4c1.973b38","type":"ui_switch","z":"a91281b0.02432","name":"","label":"ON/OFF","tooltip":"","group":"ebf63f1d.4786a","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"EN","onvalueType":"str","onicon":"","oncolor":"","offvalue":"DIS","offvalueType":"str","officon":"","offcolor":"","x":2000,"y":1160,"wires":[["c321bbcb.a1ce48"]]},{"id":"320a2570.ace76a","type":"change","z":"a91281b0.02432","name":"c","rules":[{"t":"set","p":"topic","pt":"msg","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":1160,"wires":[["be003db5.e8cf1"]]},{"id":"7dd194ba.68d14c","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"s","reset":"true","bytopic":"all","name":"ID/EXE","x":2400,"y":1160,"wires":[["320a2570.ace76a","84af8250.94cf7"]]},{"id":"5b424429.d861cc","type":"trigger","z":"a91281b0.02432","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"flipflop","x":2250,"y":1160,"wires":[["7dd194ba.68d14c"]]},{"id":"c321bbcb.a1ce48","type":"delay","z":"a91281b0.02432","name":"delay","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2130,"y":1160,"wires":[["5b424429.d861cc"]]},{"id":"84af8250.94cf7","type":"change","z":"a91281b0.02432","name":"f","rules":[{"t":"set","p":"topic","pt":"msg","to":"f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":1200,"wires":[["3c776e90.a7be02"]]},{"id":"4e87caa2.32ae14","type":"inject","z":"a91281b0.02432","name":"","topic":"","payload":"EN","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1990,"y":1120,"wires":[["c321bbcb.a1ce48"]]},{"id":"9797d341.00052","type":"ui_group","z":"","name":"Stage 2: Decode","tab":"6000b649.2aec18","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e59639.369a89c","type":"ui_group","z":"","name":"Stage 1: Fetch","tab":"6000b649.2aec18","order":1,"disp":true,"width":"6","collapse":false},{"id":"83f18f43.ea75a","type":"ui_group","z":"","name":"Stage 3: Execute","tab":"6000b649.2aec18","order":3,"disp":true,"width":"6","collapse":false},{"id":"6eededd8.847e14","type":"ui_group","z":"","name":"Stage 5: Write-Back","tab":"6000b649.2aec18","order":5,"disp":true,"width":"6","collapse":false},{"id":"c1cd21b6.7d73e","type":"ui_group","z":"","name":"Clock Pulse","tab":"6000b649.2aec18","order":6,"disp":true,"width":"6","collapse":false},{"id":"be842021.a1084","type":"ui_group","z":"","name":"Stage 4: Memory","tab":"6000b649.2aec18","order":4,"disp":true,"width":"6","collapse":false},{"id":"24beebe9.9722d4","type":"ui_group","z":"","name":"Registers","tab":"6000b649.2aec18","order":7,"disp":true,"width":"6","collapse":false},{"id":"afdd1fb8.de58a","type":"ui_group","z":"","name":"Memory","tab":"6000b649.2aec18","order":8,"disp":true,"width":"6","collapse":false},{"id":"27c9552.a8f77aa","type":"ui_group","z":"","name":"Reset","tab":"6000b649.2aec18","order":9,"disp":true,"width":"6","collapse":false},{"id":"ebf63f1d.4786a","type":"ui_group","z":"","name":"Forwarding","tab":"6000b649.2aec18","order":10,"disp":true,"width":"6","collapse":false},{"id":"6000b649.2aec18","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]